name: Static Code Analysis

on:
  push:
  pull_request:

env:
  COMPOSER_CACHE_DIR: ~/.composer/cache

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [ 8.1 ]

    name: Static Code Analysis

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Setup PHP Action
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ env.COMPOSER_CACHE_DIR }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: |
          composer update --no-interaction --no-progress --prefer-dist --prefer-stable

      - name: Run PHP CS Fixer
        env:
          PHP_CS_FIXER_FUTURE_MODE: 1
        run: |
          ./vendor/bin/php-cs-fixer check --verbose --diff
