name: Run Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

env:
  COMPOSER_CACHE_DIR: ~/.composer/cache

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [ 8.1, 8.2, 8.3 ]
        laravel-version: [ ^9, ^10 ]
        stability: [ prefer-stable, prefer-lowest ]

    name: PHP ${{ matrix.php }} [Laravel ${{ matrix.laravel-version }}][${{ matrix.stability }}]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Setup PHP Action
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: sqlite3
          coverage: none

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ env.COMPOSER_CACHE_DIR }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: |
          composer update --with laravel/laravel:${{ matrix.laravel-version }} --no-interaction --no-progress \
            --prefer-dist --${{ matrix.stability }}

      - name: Run Tests
        run: composer test
